@charset "UTF-8";
/* medidas: 768px a 992px, 992px a 1200px */
/* para celular nois usamos a medida vdh para tirar a rolagem lateral da tela */
@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        min-height: 100dvh;
    }
    body {
        background: linear-gradient(to right, #185a9d, #43cea2);
        margin: 120px auto;
    }
    input {
        width: 300px;
        height: 50px;
        margin: 5px 40px 5px 5px;
    }
    main > section > h1 {
        padding-top: 26px;
        margin: 0px;
        margin-bottom: 20px;
    }
    main > section > form > div > label > img {
        display: inline;
    }
    input#isenha {
        background: white;
    }
    input#iCPF {
        background: white;
    }
    input#itel {
        background: white;
    }
    input#submit {
        text-align: center;
        padding: 0;
        margin-left: 35px;
    }
    main > form {
        float: left;
        width: 50%;
        margin-bottom: 0;
        margin-left: 10px;
    }
    main {
        width: 95%;
        height: 370px;
        margin-top: 180px;
    }
    main > div#m {
        float: right;
        width: 320px;
        height: 370px;
        border-radius: 0px 10px 10px 0px;
        background-size: 320px;
    }
    main > section > div#p {
        width: 300px;
        text-align: center;
        margin-left: 65px;
    }
    section {
        text-align: center;
    }
}
@media screen and (min-width: 992px) and (max-width: 1311px) {
    html {
        min-height: 100dvh;
    }
    body {
        background: linear-gradient(to right, #185a9d, #43cea2);
        margin: 120px auto;
    }
    input {
        width: 350px;
        height: 50px;
        margin: 5px 40px 5px 5px;
    }
    main > section > h1 {
        font-size: 30px;
        padding-top: 30px;
        margin: 0px;
        margin-bottom: 30px;
    }
    main > section > form > div > label > img {
        display: inline;
    }
    input#isenha {
        background: white;
    }
    input#iCPF {
        background: white;
    }
    input#itel {
        background: white;
    }
    input#submit {
        text-align: center;
        padding: 0;
        margin-left: 35px;
        margin-bottom: 15px;
    }
    main > form {
        width: 50%;
        margin-bottom: 0;
        margin-left: 10px;
    }
    main {
        width: 95%;
        height: 420px;
        margin-top: 180px;
    }
    main > div#m {
        float: right;
        width: 400px;
        height: 420px;
        border-radius: 0px 10px 10px 0px;
        background-size: 380px;
    }
    main > section > div#p {
        width: 400px;
        text-align: center;
        margin-left: 75px;
    }
    main > section > div > p {
        font-size: 16px;
    }
    section {
        text-align: center;
    }
}
@media screen and (min-width: 1311px) {
        html {
        min-height: 100dvh;
    }
    body {
        background: linear-gradient(to right, #185a9d, #43cea2);
        margin: 30px auto;
    }
    input {
        width: 380px;
        height: 50px;
        margin: 5px 40px 5px 5px;
        font-size: 15px;
    }
    main > section > h1 {
        font-size: 30px;
        padding-top: 30px;
        margin: 0px;
        margin-bottom: 30px;
    }
    main > section > form > div > label > img {
        display: inline;
    }
    input#isenha {
        background: white;
    }
    input#iCPF {
        background: white;
    }
    input#itel {
        background: white;
    }
    input#submit {
        text-align: center;
        padding: 0;
        margin-left: 35px;
        margin-bottom: 15px;
    }
    main > form {
        width: 50%;
        margin-bottom: 0;
        margin-left: 10px;
    }
    main {
        width: 70%;
        height: 420px;
        margin-top: 180px;
    }
    main > div#m {
        float: right;
        width: 400px;
        height: 420px;
        border-radius: 0px 10px 10px 0px;
        background-size: 420px;
    }
    main > section > div#p {
        width: 400px;
        text-align: center;
        margin-left: 62px;
    }
    main > section > div > p {
        font-size: 18px;
    }
    section {
        text-align: center;
    }
}
