@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'bebas';
    src: url('fontes/HelveticaNeueMedium.otf') format('opentype');
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
html {
    height: 100dvh;
}
body {
    background: linear-gradient(to left, #185a9d, #43cea2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1-primaria: blueviolet;
    --cor1-secundaria: black;
    --cor-secundaria: white;
}
/* ---------------------------------------tela_de_login------------------------------------- */
main {
    width: 75%;
    margin: 100px auto;
    background: linear-gradient(135deg, #22d3ee, #3b82f6, #9333ea);
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 5px black;
    padding-bottom: 20px;
}
main > div#m {
    background: #F5F8F7 url(imagens/ChatGPT\ Image\ 30\ de\ jan.\ de\ 2026\,\ 09_02_32.png) center / 250px  no-repeat scroll;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
main form{
    text-align: center;
    margin: 10px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
}
main> section > h1 {
    font: normal 25px 'bebas';
    text-align: center;
    margin: 25px;
    letter-spacing: 1px;
}
main > section > div > p {
    text-align: center;
    color: rgba(255, 255, 255, 0.863);
    letter-spacing: 1px;
    margin: 10px;
    font-size: 12px;
}

input {
    width: 230px;
    height: 40px;
    border-radius: 10px;
    font: normal 12px arial, helvetica, sans-serif;
    margin: 5px auto ;
    border: none;
    letter-spacing: 1px;
    text-indent: 10px;
    padding-right: 35px;
}
input#isenha {
    background: white url(imagens/lock_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg) 200px center / 21px no-repeat scroll;
}
input#iCPF {
    background: white url(imagens/icone_cpf.svg) 200px center / 21px no-repeat scroll;
}
input#itel {
    background: white url(imagens/phone_enabled_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg
    )200px center / 21px no-repeat scroll;
}
main > section> form > div > label > img {
    display: none;
}
#submit {
    background: rgb(127, 250, 144);
    cursor: pointer;
    font: 600 1.1em arial, helvetica, sans-serif;
    padding: 0;
    color: rgba(0, 0, 0, 0.74);
    text-align: center;
}
/* ------------------------------------------------------------------------------------------- */

