@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'bebas';
    src: url('fontes/HelveticaNeueMedium.otf') format('opentype');
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
html {
    height: 100dvh;
}
body {
    background: black url(imagens/backgroud.jpg) center center / cover no-repeat scroll;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1-primaria: blueviolet;
    --cor1-secundaria: black;
    --cor-secundaria: white;
}
/* ---------------------------------------tela_de_login------------------------------------- */
main {
    width: 80%;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 3px 5px black;
    padding-bottom: 20px;
    transition: width 0.3s, height 0.3s;
}
main > div#m {
    background: black url(imagens/1000007015.png) center / 300px  no-repeat scroll;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
main form{
    text-align: center;
    margin: 10px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
}
main> section > h1 {
    font: 500 25px 'bebas';
    text-align: center;
    margin: 25px 0px 25px 0px;
    letter-spacing: 1.5px;
    color: transparent;
    background: linear-gradient(to right, white, #7f00ff, #e100ff, white);
    background-clip: text;
}
input {
    width: 230px;
    height: 40px;
    border-radius: 10px;
    font: normal 12px arial, helvetica, sans-serif;
    margin: 5px auto ;
    border: none;
    letter-spacing: 1px;
    text-indent: 10px;
    padding-right: 35px;
}
input#isenha {
    background: white url(imagens/lock_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg) 200px center / 21px no-repeat scroll;
}
input#iemail {
    background: white url(imagens/mail_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg) 200px center / 21px no-repeat scroll;
}
input#itel {
    background: white url(imagens/phone_enabled_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg
    )200px center / 21px no-repeat scroll;
}
main > section > form > div > label > img {
    display: none;
}
#submit {
    background: rgb(152, 43, 255);
    cursor: pointer;
    font: normal 1em arial, helvetica, sans-serif;
    padding: 0;
    color: white;
    text-align: center;
}
#submit:hover {
    background-color: rgb(102, 31, 168);
}
button {
    background: rgb(87, 49, 122);
    cursor: pointer;
    padding: 0;
    color: white;
    text-align: center;
    width: 230px;
    height: 40px;
    border-radius: 10px;
    margin: 5px auto ;
    border: none;
}
main > section > form > button > a.esqueci {
    text-decoration: none;
    text-align: center;
    color: white;
    font: normal 1.em arial, helvetica, sans-serif;
    letter-spacing: 1px;
}
/* ------------------------------------------------------------------------------------------- */

