@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'bebas';
    src: url('fontes/HelveticaNeueMedium.otf') format('opentype');
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
html {
    height: 100dvh;
}
body {
    height: 100vh;
    background: black url(imagens/backgroud.jpg) center center / cover no-repeat scroll;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1-primaria: blueviolet;
    --cor1-secundaria: black;
    --cor-secundaria: white;
}
/* ---------------------------------------tela_de_login------------------------------------- */
main {
    width: 86%;
    background: rgba(0, 0, 0, 0.158);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding-bottom: 20px;
    transition: width 0.3s, height 0.3s;
    border-left: 2.5px solid rgba(71, 5, 133, 0.61);
    border-top: 2.5px solid rgba(71, 5, 133, 0.61);
    box-shadow: 0 0 4px rgba(134, 6, 253, 0.61);
}
main > div#m {
    background: black url(imagens/1000007415.png) center / 320px  no-repeat scroll;
    height: 215px;
    border-radius: 10px 10px 0px 0px;
}
main form{
    text-align: center;
    margin: 15px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
}
main> section > h1 {
    font: 500 30px 'bebas';
    text-align: center;
    margin: 35px 0px 25px 0px;
    letter-spacing: 1.5px;
    color: transparent;
    background: linear-gradient(to right, white, #5f02bd, #9c01b1, white);
    background-clip: text;
}
input {
    width: 245px;
    height: 50px;
    border-radius: 10px;
    font: normal 14px arial, helvetica, sans-serif;
    margin: 7px auto ;
    border: none;
    letter-spacing: 1px;
    text-indent: 10px;
    padding-right: 45px;
    color: white;
}
input#isenha {
    background: rgb(27, 26, 26) url(imagens/icone_password_branco.svg) 210px center / 21px no-repeat scroll;
}
input#iemail {
    background: rgb(27, 26, 26) url(imagens/mail_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg) 210px center / 21px no-repeat scroll;
}
main > section > form > div > label > img {
    display: none;
}
#submit {
    background: rgb(74, 30, 175);
    cursor: pointer;
    font: normal 1em arial, helvetica, sans-serif;
    padding: 0;
    color: white;
    text-align: center;
    text-indent: 0px;
}
#submit:hover {
    background-color: rgb(90, 31, 168);
}
button {
    background: rgb(45, 1, 102);
    cursor: pointer;
    color: white;
    text-align: center;
    width: 245px;
    height: 50px;
    border-radius: 10px;
    margin: 5px auto ;
    border: none;
}
main > section > form > button > a.esqueci {
    text-decoration: none;
    text-align: center;
    color: white;
    font: normal 1.em arial, helvetica, sans-serif;
    letter-spacing: 1px;
}
main > section > form > button:hover {
    background: rgb(37, 4, 75);
}
input::placeholder {
    color: rgb(201, 195, 195);
}
/* ------------------------------------------------------------------------------------------- */

